@import "./variable";
.header__nav{
    background-color: rgba(3, 3, 3, 0.329);
    display: grid;
    grid-template-columns: 10% 90%;
    .header__item{
        font-size: 1rem;
        font-family: $fuente;
        text-decoration-line: none;
        display: flex;
        justify-content: end;
        
    }
}
section{
    .contenido__postal{
        align-items: center;
        width: 100%;
        transition: 5s;
     }
     .contenido__postal:hover{
        width: 105%;
     }
    .contenido{
        box-sizing: content-box;
        display: block;
        width: 50%;
        height: 50%;
        text-align: center;
        padding: $padding;
        background-image: $fondo;    
    }
}